<div class="feature-info">
    <div class="general">
        <h1>{{ feature.name }}</h1>
        <h2 *ngIf="feature.street || feature.city || feature.zip_code || feature.phone || feature.e_mail || feature.website_1 || feature.website_2 || feature.website_3">Kontakt</h2>
        <p *ngIf="feature.street || feature.city || feature.zip_code">{{ [feature.street, [feature.zip_code, feature.city].join(' ')].join(', ') }}<br></p>
        <p *ngIf="feature.phone && feature.eshop_connect">Telefon: {{ feature.phone }}</p>
        <p *ngIf="feature.e_mail && feature.eshop_connect">E-mail: {{ feature.e_mail }}</p>
        <p *ngIf="(feature.website_1 || feature.website_2 || feature.website_3) && feature.eshop_connect">
            <a [href]="feature.website_1" target="_blank">{{ feature.website_1 }}</a>
            <span *ngIf="feature.website_2"><br>
                <a [href]="feature.website_2" target="_blank">{{ feature.website_2 }}</a>
            </span>
            <span *ngIf="feature.website_3"><br>
                <a [href]="feature.website_3" target="_blank">{{ feature.website_3 }}</a>
            </span>
        </p>
    </div>
    <img *ngIf="!feature.gallery" [src]="'https://db.atlasbestpractices.com' + feature.img" class="gallery">
    <ul *ngIf="feature.gallery" #gallery class="gallery">
        <!-- <img [src]="'https://db.atlasbestpractices.com' + (feature?.images[0] || feature.img)"> -->
        <li *ngFor="let img of feature.gallery"
            [style.width]="img.c_width"
            [style.height]="img.c_height"
            (click)="openSlideshow()"
        >
            <img
                [src]="'https://db.atlasbestpractices.com' + img.url"
                [attr.width]="img.width"
                [attr.height]="img.height"
            >
        </li>
    </ul>
    <mat-tab-group class="additional-content">
        <mat-tab label="Popis" *ngIf="feature.description">
            <p [innerHtml]="feature.description"></p>
        </mat-tab>
    </mat-tab-group>
    <hs-mat-slideshow></hs-mat-slideshow>
</div>
