.feature-info {
    padding: 1em;
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: minmax(10em, 1fr) 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "general gallery"
        "additional additional";
    gap: .5em;

    .general {
        grid-area: general;
        // flex: 1 1 calc(100% / 3);
    }

    .gallery {
        grid-area: gallery;
        // max-width: 100%;
        // flex: 0 1 calc(200% / 3);
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
        list-style: none;
        gap: .5em;
        margin: 0;
        padding: 0;

        li {
            height: auto;
            cursor: pointer;

            img {
                display: block;
                max-width: 100%;
                // max-height: 100%;
                width: auto;
                height: auto;
            }
        }
    }

    .additional-content {
        grid-area: additional;
    
        p {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }
}
