<div class="card-collection">
    <mat-card *ngFor="let item of HsFeatureTableService.features" (click)="selectFeature(item.feature)">
        <!-- <div class="img-container"> -->
        <!--     <img [src]="'https://db.atlasbestpractices.com' + item.feature.getProperties().img"> -->
        <!-- </div> -->
        <!-- <img mat-card-image [src]="'https://db.atlasbestpractices.com' + item.feature.getProperties().img"> -->
        <div mat-card-image>
            <img [src]="'https://db.atlasbestpractices.com' + item.feature.getProperties().img">
        </div>
        <mat-card-content>
            <h2>{{ item.name }}</h2>
        </mat-card-content>
    </mat-card>
</div>
