$padding: 16px; // taken from @angular/material/card styling

.card-collection {
    padding: .5em;
    display: flex;
    flex-wrap: wrap;

    mat-card {
        flex: 0 1 100%;
        margin: .5em;
        box-sizing: border-box;
        transition: background-color 0.25s;
        cursor: pointer;

        &:hover {
            background-color: lightgray;
        }

        // .img-container {
        //     position: relative;
        //     height: 0;
        //     width: 100%;
        //     padding-top: calc(200% / 3);
        //     overflow: hidden;

        //     img {
        //         max-width: 100%;
        //         position: absolute;
        //         top: 50%;
        //         left: 50%;
        //         transform: translate(-50%, -50%);
        //     }
        // }

        div.mat-card-image {
            position: relative;
            padding-top: calc(2 * (100% + #{$padding * 2}) / 3); // width of the mat-card-image is 100% + 32px
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        mat-card-content {
            h2 {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

@media (min-width: 960px) {
    .card-collection mat-card {
        flex: 0 1 calc(100% / 2 - 1em);
    }
}

@media (min-width: 1280px) {
    .card-collection mat-card {
        flex: 0 1 calc(100% / 3 - 1em);
    }
}

@media (min-width: 1520px) {
    .card-collection mat-card {
        flex: 0 1 calc(100% / 4 - 1em);
    }
}
