<div #hslayout class="hs-page-wrapper hsl w-100 h-100">
    <div
    class="hs-content-wrapper d-flex w-100 h-100"
    [ngClass]="{
        'hs-open': HsLayoutService.sidebarExpanded && HsLayoutService.sidebarVisible(),
        'hs-sb-right': HsConfig.sidebarPosition == 'right' && HsLayoutService.sidebarVisible(),
        'hs-sb-left': HsConfig.sidebarPosition == 'left' && HsLayoutService.sidebarVisible(),
        'hs-sb-bottom': HsLayoutService.sidebarBottom()
    }">
        <div class="hs-map-space d-flex">
            <hs-map class="hs-flex-fill d-flex"></hs-map>
            <hs-mat-overlay class="hs-overlay hs-flex-fill w-100 h-100"></hs-mat-overlay>
            <ng-template map-host></ng-template>
        </div>
        <div class="hs-panelspace"
            [ngStyle]="{width: panelSpaceWidth() + 'px'}">
            <div class="hs-panelspace-wrapper mr-1">
                <div class="hs-panelplace">
                    <hs-atlas-feature-list [hidden]="selector?.getFeatures().getLength() > 0"></hs-atlas-feature-list>
                    <hs-atlas-feature-info
                        *ngIf="selector?.getFeatures().getLength() > 0"
                        [feature]="selector?.getFeatures().item(0)">
                        <!-- [feature]="selector?.getFeatures()[0]?.feature.getProperties()"> -->
                    </hs-atlas-feature-info>
                    <hs-panel-container class="hs-panelplace">
                    </hs-panel-container>
                </div>
            </div>
        </div>
    </div>
</div>
