@import '~@angular/material/theming';

hslayers-material {
  height: 100%;
  display: block;
}

.hsl {
    .d-flex {
        display: flex;
    }

    .hs-map-space {
	flex: 1 1 auto;
	position: relative;
    }

    .hs-panelspace {
	z-index: 1;
	@include mat-elevation(2);
	overflow-y: auto;
    }

    .hs-flex-fill {
	flex: 1 1 auto;
    }

    .hs-overlay {
	position: absolute;
	pointer-events: none;
    
	* {
	    pointer-events: auto;
	}

	section {
	    position: absolute;

	    button {
		margin: 6px 8px;
	    }
	}

	.bottom {bottom: 20px;}
	.top {top: 20px;}
	.right {right: 20px;}
	.left {left: 20px;}
    }

}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}
